div.oneMomentExtensionSuperCoolWrapper
    width: 100% !important
    height: 100% !important
    z-index: 99999 !important
    background-color: black !important
    top: 0 !important
    position: fixed !important
    display: none
